body {
  margin: 0;
}
.container {
  max-width: 700px;
  margin-inline: auto; /* left and right */
  margin-block: 3rem; /* top and bottom */
}

.cells {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 40px;
  border: 1px solid black;
  border-radius: 6px;
  text-align: center;
  padding-top: 20px;
}

.newBackground {
  background-color: lightcoral;
}

#centerObj {
  display: block;
  margin-inline: auto;
  margin-top: 20px;
}

#randNum {
  text-align: center;
}
